var wordList = getWordsFromRuby();
wordList = _.shuffle(wordList);
var firstWord = _.first(wordList);
var currentUserGotRight = "<%=@user.got_right%>";
var currentUserGotWrong = "<%=@user.got_wrong%>";

var startButton = $('#startFlashCardButton');
startButton.fadeOut(50);

var pauseButton = $("<button id = 'pauseButton'>Pause</button>");
  pauseButton.fadeIn(300);
  $('#container').append(pauseButton);
  pauseButton.click(function(){
    alert("pause test");
}); 


function getWordsFromRuby() {
  var _wordsList;

  $.ajax({
    url: '/lists/<%=@list.id%>',
    method: 'get',
    dataType: 'json',
    async: false,
    success: function(data){
      _wordsList = data;
    }
  })

  return _wordsList;
};


function returnNewWord(){

    if (wordList.length == 0) {
      makeTestResultsAppear();
      storeAnswer(numberCorrect)

    } else {
    return wordList.pop(); 
    }

};



function submitAnswer(numberCorrect){
  
  storeAnswer(numberCorrect);
  var newWord = returnNewWord();
  refreshFlashCard(newWord);
  
};

function refreshFlashCard(newWord){

  console.log(newWord);
  var flashCard = $("<div class='flashCard'></div>");
  var kanji = newWord.kanji;
  var kana = newWord.kana;
  var english = newWord.english;


  flashCard.append("<p id='flashCardKanji'>" + kanji + "</p>");
  flashCard.append("<p id='flashCardKana'>" + kana + "</p>");
  flashCard.append("<p id = 'englishAnswer'>" + english + "</p>");

  var englishAnswer = $("<p id = 'englishAnswer'>" + english + "</p>");

  var newAnswerButton = $("<button id = 'newAnswerButton'>Next</button>");
  newAnswerButton.appendTo(flashCard);

  var passButton = $("<button id = 'passButton'>Pass</button>");
  passButton.appendTo(flashCard);

  console.log(kanji);
  flashCard.fadeIn(500);
  flashCard.appendTo('#container');


  var realAnswer= currentUserGotRight;

  

  passButton.click(function(){

    function updateCurrentUserGotWrong() {
     console.log(currentUserGotWrong);
     currentUserGotWrong = parseInt(currentUserGotWrong);
     return (currentUserGotWrong --);
    }  

    function addWordToEndOfList(newWord){
      wordList.push(newWord)
    };

    submitAnswer(realAnswer);
    addWordToEndOfList(newWord);
    updateCurrentUserGotWrong();
  });


  newAnswerButton.click(function() {
    
    function updateCurrentUserGotRight() {
     console.log(currentUserGotRight);
     currentUserGotRight = parseInt(currentUserGotRight);
     currentUserGotRight ++;
    }   

    updateCurrentUserGotRight();
    submitAnswer(realAnswer);
  });




};

function storeAnswer(numberCorrect){
  var userAnswer = $('#flashCardInputBox').val(); 
  
    $.ajax({
      url: '/users/<%=@user.id%>/update_score',
      method: 'post',
      data: {
        got_right: 1 
      },
      dataType: 'json'
    }).done(function(data){
      console.log(data);
    });

    var flashCard = $(".flashCard");
    flashCard.hide();

};

function makeTestResultsAppear() {
  var testResults = $('<div id = "testResults"></div>');
  var finishedButton = $('<%= link_to "Finished!", "/lists/#{@list.id}", :method => :get, :class => 'button'  %>')
  var gotRight = $('<p id = "gotRightResults">' + "You got a grand total of " + currentUserGotRight + " words correct since you started TangoChan. Keep it up!" + '</p>');
  gotRight.appendTo(testResults);
  finishedButton.appendTo(testResults);
  testResults.appendTo('#container');

}








refreshFlashCard(firstWord);

