<%= render "search" %>
<hr>
<ul>  

  <% @lists.each do |list| %>
    <li><%= link_to "#{list.title}", list %> -  <strong><%= list.words.count %> words</strong> - Created at <%= list.created_at.strftime("%I:%M%p on %m/%d/%Y") %> by <strong><%= list.user_name %></strong></li>

  <% end %>
</ul>






