<h2><%= @list.title %></h2>

<%= button_to "Edit this list", edit_list_path(@list), :class => "button", :method => "get" %>
<div id="list-words-display">
  <ul>
    <% @list.words.each do |word| %>
    <div class="show-word">
    <p class="kanji"><strong><%= word.kanji %></strong></p>
    <p><%= word.kana %></p>

    <% word.meanings.each do |meaning| %>
      <p><%= meaning %></p>
    <% end %>
    <!-- add a delete button -->
    </div>
    <% end %>
    </ul>

  </ul>
</div>
