<h2><%= @list.title %></h2>

<%= form_tag("/words/search", method: "get", remote: true) do %>
  <%= label_tag(:term, "Search for a word to add to #{@list.title}:") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Search", class: "button") %>
<% end %>

<div id="word-results"></div>

<div id="list-words-display">
  <ul>
    <% @list.words.each do |word| %>
    <div class="show-word">
    <p class="kanji"><strong><%= word.kanji %></strong></p>
    <p><%= word.kana %></p>
    <% word.meanings.each do |meaning| %>
      <p><%= meaning %></p>
    <% end %>
    <!-- add a delete button -->
    </div>
    <% end %>
    </ul>

  </ul>
</div>
