<%= link_to "Test List", "/lists/#{@list.id}/test", :method => :get, :class => 'button'  %>

<h2><%= @list.title %></h2>

<%= form_tag("/words/search", method: "get", remote: true) do %>
  <%= label_tag(:term, "Search for a word to add to #{@list.title}:") %>
  <%= text_field_tag(:term) %>
  <%= hidden_field_tag :list, @list.id %>
  <%= submit_tag("Search", class: "button") %>
<% end %>

<div id="word-results"></div>

<div id="list-words-display">
  <h2>Words in <%= @list.title %></h2>
  <ul>

    <% @list.words.each do |word| %>
      <%= render word %>
    <% end %>
    </ul>

  </ul>
</div>

<%= render "search" %>

