console.log("workinggggggggggg");

var wordList;

var startButton = $('#startTestButton');
  startButton.fadeOut(50);

var pauseButton = $("<button id = 'pauseButton'>Pause</button>");
  pauseButton.fadeIn(300);
  pauseButton.appendTo('#container');
  pauseButton.click(function(){
    alert("pause test");
  }); 

function startTest(){
  wordList = secondHackedSolutionToGetWordsFromRuby();
  var flashCard = $("<div class = 'flashCard'><p><%=@list.words[0].kanji%></p><p><%=@list.words[0].kana%></p><div>");
  var englishAnswer = $("<div id = 'englishAnswer'><%=@list.words[0].english%></div>");
  var realAnswer= englishAnswer.text();
  flashCard.fadeIn(500);
  flashCard.appendTo('#container');

  var flashCardInputBox = $("<form><input id='flashCardInputBox' name='answer'></form>");
  flashCardInputBox.appendTo(flashCard);

  var submitAnswerButton = $("<button id = 'submitAnswerButton'>Submit Answer</button>");
  submitAnswerButton.appendTo(flashCard);

  
  submitAnswerButton.click(function() {
      submitAnswer(realAnswer);
  });

   console.log(wordList[i]);

};

function secondHackedSolutionToGetWordsFromRuby() {
  var _wordsList;

  $.ajax({
    url: '/lists/<%=@list.id%>',
    method: 'get',
    dataType: 'json',
    async: false,
    success: function(data){
      _wordsList = data;
    }
  })

  return _wordsList;

};


function submitAnswer(realAnswer){
  
  storeAnswer(realAnswer);
  var newWord = returnNewWord();
  refreshFlashcard(newWord);

};


function refreshFlashcard(newWord){

console.log(newWord);
var flashCard = $("<div class='flashCard'></div>");
var kanji = newWord.kanji;
var kana = newWord.kana;
var english = newWord.english;

flashCard.append("<p id='flashCardKanji'>" + kanji + "</p>");
flashCard.append("<p id='flashCardKana'>" + kana + "</p>");
var englishAnswer = $("<p id = 'englishAnswer'>" + english + "</p>");


var flashCardInputBox = $("<form><input id='flashCardInputBox' name='answer'></form>");
flashCardInputBox.appendTo(flashCard);

var newAnswerButton = $("<button id = 'newAnswerButton'>Submit Answer</button>");
newAnswerButton.appendTo(flashCard);

console.log(kanji);
flashCard.appendTo('#container');


var realAnswer= englishAnswer.text();

newAnswerButton.click(function() {
      submitAnswer(realAnswer);
  });

}



function returnNewWord(){
  _.shuffle(wordList);
  return wordList.pop();
}





function storeAnswer(realAnswer){
  var userAnswer = $('#flashCardInputBox').val(); 
  
    $.ajax({
      url: '/lists/<%=@list.id%>/test',
      method: 'post',
      data: {
        flashCardInput: userAnswer, 
        flashCardAnswer: realAnswer
      },
      dataType: 'json'
    }).done(function(data){
      console.log(data);
    });

    var flashCard = $(".flashCard");
    flashCard.hide();
};


startTest();