
<section id="user-profile">

  <h2>Welcome back, <%= @user.name %></h2>
  <img src="<%= @user.image_url %>" id="user_image">

  <%= link_to "Your profile", "/me/#{current_user.id}", :class => "button"  %>
  <h3>Your TangoChan Stats</h3>

  <p><strong>Minutes Practiced:</strong> <%= @user.minutes_practiced %></p>

  <p><strong>Total words practiced:</strong> <%= @user.words_practiced %></p>
  <p><strong>Batting average:</strong> <%= @user.words_practiced %></p>
</section>
