<section id="user-actions">

  <!-- Create List Model -->
  <div id="new-list" class="reveal-modal" data-reveal>
    <%= render "lists/new_list_form.html.erb" %>
  </div>
  <!-- redirects to lists#edit -->

    <h3>My Lists: <a href="#" data-reveal-id="new-list" class="new-list button tiny"> + </a></h3>
    <div id="users-lists">
      <% @lists.each do |list| %>
        <p><%= link_to list.title, list_path(list) %></p>
      <% end %>
    </div>
    <p><%= link_to "Lists by category", "/categories" %></p>
    <%= render "/lists/search" %>
    <p><%= link_to "All lists", lists_path %></p>


    <h3>My Friends:</h3>
    <% if @user.friends.count == 0 %>
      <p>No friends yet.</p>
    <% else %>
      <% @user.friends.each do |user|%>
          <p><%= link_to "#{user.name}", user %></p>
      <% end %>
    <% end %>


    <h3>Friended By:</h3>
    <% if @user.inverse_friends.count == 0 %>
      <p>Nobody has friended you yet.</p>
    <% else %>
      <% @output = (@user.inverse_friends.each {|inverse| inverse.id}) - (@user.friends.each {|user| user.id }) %>
      <%  @output.each do |friended_by| %>
      <%= link_to "#{friended_by.name}", friended_by %>
      <% end %>
    <% end %>
    <hr>


    <%= render "search" %>
    <%= render "search_city" %>


</section>
