
  <h3>My Profile:</h3>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>I speak:</strong> <%= @user.native_language %></p>
  <p><strong>I'm learning:</strong> Japanese</p>
  <p><strong>Location:</strong> <%= @user.city %>, <%= @user.country %></p>
  <% if @user == current_user %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button' %>
  <% end %>

