
<section id="user-profile">
  <h2>My Profile:</h2>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>I speak:</strong> <%= @user.native_language %></p>
  <p><strong>I'm learning:</strong> <%= @user.learning_language %></p>
  <p><strong>Location:</strong> <%= @user.city %>, <%= @user.country %></p>
  <hr>

  <h2>My Tangochan Stats</h2>

  <p><strong>Words Practiced:</strong>  <%= @user.words_practiced %></p>
  <p><strong>Minutes Practiced:</strong> <%= @user.minutes_practiced %></p>

  <p><strong>Total words practiced:</strong> <%= @user.words_practiced %></p>
  <p><strong>Batting average:</strong> <%= @user.words_practiced %></p>
</section>
