$("#word-results").empty();
<% if @results.count > 0 %>
  <% @results.each do |r| %>
    var word = $("<div><p><%=j r.kanji %></p><p><%=j r.kana %></p><p><%=j r.english %></p></div>").fadeIn(500);
    var formHTML = "<%= j render partial: "add_to_list", locals: { word: r } %>";
    // console.log("<%=j r.english %>");
    // console.log("<%= @list.id %>");
    word.addClass("show-word");
    word.append(formHTML);

    word.appendTo("#word-results");
  <% end %>
<% else %>
  var word = $("<p>Sorry no results.</p>");
    $("#word-results").empty();
    word.appendTo("#word-results");
<% end %>
