<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon (2).ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "TangoChan - Smart and Fun Language Learning" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div id="container">
  <header class="row">
    <div class="large-3 columns">
      <h1><%= link_to image_tag("logo.png"), root_path %></h1>
    </div>

    <div class="large-9 columns">
      <ul class="button-group right">
        <% if user_signed_in? %>
          <span id="whoami">Signed in as<%= link_to " #{current_user.name}", user_path(current_user)  %></span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button'  %>
          <%= link_to "Your profile", "/me/#{current_user.id}", :class => "button"  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'button'  %>
          <%= link_to "Login", new_user_session_path, :class => 'button',  :"data-reveal-id" => "login-form" %>
         <% end %>
      </ul>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </header>


    <%= yield %>


    </div> <!-- container -->

  <!-- Footer -->

 
    <div class="large-8 large-offset-2 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© HAMCo International</p>
        </div>
        <div class="large-6 columns">
      <!--     <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>



    <%= javascript_include_tag "application" %>
  </body>
</html>
